{% extends 'base.html' %}

{% block title %}
bill
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">BILL NO</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PID</th>
        <th scope="col">MEDICAL CHARGES</th>
        <th scope="col">APPOINTMENT CHARGES</th>
        <th scope="col">ROOM CHARGES</th>
        <th scope="col">TOTAL</th>
        
  
      </tr>
    </thead>
    <tbody>
        {% for post in query %}
    <tr>
      <th scope="row">{{post.Bill_no}}</th>
      <th scope="row">{{post.email}}</th>
      <th>{{post.pid}}</th>
      <td>{{post.medical_charges}}</td>
      <td>{{post.appointment_charges}}</td>
      <td>{{post.Room_charges}}</td>
      <td>{{post.Total}}</td>
      
      {% endfor %}
  
  </tbody>
</table>


{% endblock body %}