{% extends 'base.html' %}

{% block title %}
Prescriptions
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">EMAIL</th>
        <th scope="col">PID</th>
        <th scope="col">NAME</th>
        <th scope="col">MEDICATIONS</th>
        
  
      </tr>
    </thead>
    <tbody>
        {% for post in query %}
    <tr>
      <th scope="row">{{post.email}}</th>
      <th scope="row">{{post.pid}}</th>
      <td>{{post.name}}</td>
      <td>{{post.medications}}</td>
      
      {% endfor %}
  
  </tbody>
</table>


{% endblock body %}